
@{
    ViewBag.Title = "";
}

<div class="container">
    <h2>Contact</h2>


    <address>
        Adresa: <br />
        Lorem Ipsum, <br /> Lorem Ipsum,<br />  900527 Constanţa<br />
        <br />
        Telefon:</br>

        01234 56789
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">testo@test.ro</a><br />
        <strong>Program de lucru cu publicul:</strong> Luni - Vineri: 10<sup>00</sup> - 12<sup>00</sup>
    </address>
</div>>