@model IEnumerable<CMSRPPF.Areas.Admin.Models.CarouselViewModel>

<div data-aos="zoom-out" id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">


        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                <img src="@Url.Content(@item.FilePath)" class="d-block w-100" alt="" class="img-responsive" height="506">
            </div>
        }


    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


