
@{
    ViewBag.Title = "";
}



<div data-aos="fade-up"  class="container"  style="margin-bottom:50px; margin-top:50px">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="padding-bottom:25px;">
        <div class="col-lg-6 text-center">

            <a href="@Url.Action("Licenta", "Academic")">
                <span class="fa-stack fa-5x zoom">
                    <i class="fa fa-circle fa-stack-2x icons"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
            </a>

            <h2>< Studii de Licenta /></h2>


        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 text-center">

            <a href="@Url.Action("Masterat", "Academic")">
                <span class="fa-stack fa-5x zoom ">
                    <i class="fa fa-circle fa-stack-2x icons"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
            </a>

            <h2>< Studii de Masterat /></h2>


        </div><!-- /.col-lg-4 -->




</div>